// project specific colors

$project-bg-color:  #005c99;
$timeline-bg-primary: #fff;
$timeline-bg-secondary:  #005c99;
$timeline-line: #D1303A;

// colors from uikit3
$primary: #1e87f0;
$primary-background: #d8eafc;
$danger: #ee395b;
$danger-background: #fef4f6;
$success: #32d296;
$success-background: #edfbf6;
$warning: #faa05a;
$warning-background: #fff6ee;
